<div class="container-fluid">
    <div class="col-lg-1 col-lg-offset-4">
        <i class="fa fa-4x fa-bullhorn" aria-hidden="true"></i>
        <h1>News</h1>
    </div>
    <div class="col-lg-6">
        <ul>
            <li>Cinsay social video tool is now live! Check your toolbox for details...</li>
            <li>YIAH May special are live! Fliers have been posted to your back office.</li>
        </ul>
    </div>
</div>