@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-4">
    Home Office (Australia)
    Your Inspiration at Home Pty Ltd
    A member of the CVSL family of companies
    Stock symbol: CVSL
    ABN 63 164 468 188
    32 – 34 Manufacturer Drive
    Molendinar QLD 4214
    Phone: 07 5618 1100
    Phone (International): +617 5618 1100
    Fax: 07 5618 1102
</div>
<div class="col-md-4">
    Canada and USA Home Office
    1500 East Main Street, Suite 300
    Newark OH 43055
    Phone: 740 322 5406

    Dallas, USA: 972 502 9102
    Brampton, Canada: 289 801 9218

    New Zealand
    Auckland
    Phone: +64 9 9509229
</div>

<div class="col-md-4">
    Customer Care
    Customer care and support <a href="mailto:customercare@yiahmail.com">Email</a>

    Consultant Care
    Consultant care and support. If you are a consultant, please contact us via this <a href="mailto:consultantcare@yiahmail.com">Email</a>.
</div>