@{
    Layout = "_Layout";
}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-3 center-block">
            <img src="~/themes/yourinspirationathome/images/YIAHlogo_darkbrown.png"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 center-block">
            <h1>Being a YIAH Consultant just got better.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 center-block">
            <p>Whether you're taking your first steps as a Consultant or have been enjoying your YIAH business for years, this is the place to launch your opportunity to the next level.</p>
            <p>Click below to get the new YIAH WebApp, a digital toolbox that will increase your reach and help you grow your business. Being a Consultant has never been this fun or flexible!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 center-block">
            <a href="/account/register" class="btn btn-primary btn-block" role="button">Get Started</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 center-block buffer-sm-top buffer-md-left">
            <a href="/account/login">Already signed up? Login here.</a>
        </div>
    </div>
</div>