@{
    Layout = "_Layout";
}

<header class="intro">
    <div class="intro-body">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <img src="~/themes/agel/images/agel-logo-green_0.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Being an Agel Consultant just got better.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>Whether you're taking your first steps as a Consultant or have been enjoying your YIAH business for years, this is the place to launch your opportunity to the next level.</p>
                <p>Click below to get the new YIAH WebApp, a digital toolbox that will increase your reach and help you grow your business. Being a Consultant has never been this fun or flexible!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <a href="/account/register" class="btn btn-default" role="button">Get Started</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <a href="/account/login">Already signed up? Login here.</a>
            </div>
        </div>    
    </div>
</header>